#root {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
}

.App {
	display: grid;
	grid-template-areas:
		"header header header header"
		"propagationError propagationError taylorMaclaurin taylorMaclaurin"
		"keyboard keyboard keyboard keyboard";
}

.header {
	width: 100%;
	border-bottom: 1px solid black;
	grid-area: header;
	h1 {
		font-size: 20px;
	}
}

.header,
.keyboard {
	background-color: #d6d6d6;
}

.inputGroup {
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	label {
		font-family: Inter;
		font-weight: bold;
		color: black;
	}
	input,
	select {
		height: 40px;
		font-family: Inter;
		font-size: 25px;
		border: 1px solid black;
		padding: 0 5px;
	}
}

.button {
	height: 40px;
	color: black;
	border: 1px solid black;
	margin: 5px 0;
	border-radius: 0px;
	font-weight: bold;
}
.submitBtn {
	background-color: #ffb340;
}
.backBtn {
	background-color: #bd95ff;
}
.removeBtn {
	background-color: #ff4b40;
}

.propagationError,
.taylorMaclaurin,
[class*="Solution"] {
	min-height: 65vh;
	padding: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.title {
		font-size: 30px;
		font-family: Inter;
		font-weight: 900;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.footer {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		height: 20%;
	}
}

[class*="Solution"] {
	background-color: #b9ddff;
}

.PESolution {
	grid-area: taylorMaclaurin;
	margin: 20px 20px 20px 10px;
}

.TMSolution {
	grid-area: propagationError;
	margin: 20px 10px 20px 20px;
}

.propagationError {
	margin: 20px 10px 20px 20px;
	grid-area: propagationError;
	background-color: #ff9898;
	color: white;
}

.taylorMaclaurin {
	margin: 20px 20px 20px 10px;
	grid-area: taylorMaclaurin;
	background-color: #a6c6e4;
	color: white;
}

/* === FOOTER === */

.keyboard {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	grid-area: keyboard;
	border-top: 1px solid black;

	.keyboard--header {
		background-color: #d9d9d9;
		display: flex;
		justify-content: space-between;
		margin: 18px;

		input {
			width: 95%;
			background-color: #d9d9d9;
			border: none;
			font-size: 30px;
		}
		.expandKeyboard {
			width: 50px;
		}
	}

	.keyboard--body {
		height: 25vh;
		padding: 18px;
		background-color: #aab2b9;
	}
}
